<% if flash[:error].present? %>
  <div class="error-alert">
    <ul>
      <% flash[:error].each do |message| %>
        <li class='error-message'><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>